body {
  margin: auto;
  width: 80%;
  background-color: powderblue;
}

header, section, article, nav, aside, footer, div {
  font-family: sans-serif;
  border: 1px dotted #000;
  padding: 10px;
  margin: 10px;
}

h1 {
  color: blue;
}

p {
  color: green;
}
